div{
    background-color: red;
    height: 150px;
    width: 150px;   
    margin-left: 30px;
    margin-top: 30px;
    outline-color: rgb(12, 187, 12);
    outline-style: dotted;
    outline-width: 15px;
    font-size: 30px;
}
div:hover{
    outline-color: black;
    outline-width: 5px;
}

