.div_5{
    background-color: red;
    width: 300px;
    height: 300px;
    border-color: black;
    border-style: solid;
    top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.div_1, .div_2, .div_3, .div_4{
    background-color: greenyellow;
    border-color: black;
    border-style: solid;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    text-align: center;
}
.div_1{
    position: absolute;
    top: 10px;
    left: 10px;
}
.div_2{

    position: absolute;
    top: 10px;
    left: 310px;
}
.div_3{
    position: absolute;
    top: 310px;
    left: 10px;

}
.div_4{
    position: absolute;
    top: 310px;
    left: 310px;

}